.Shop{
    height:90%;
    width:100%;
    display:flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content: space-around;
}
@media(max-width:800px){
  .Shop{
    justify-content: space-evenly;
  }
}

@media (max-width: 500px) {
    .Shop{
      flex-direction: column;
      justify-content: center;
      align-items: center;       
}}

@media(max-width:300px){
    .Shop{
        flex-direction: column;
      justify-content: center;
      align-items: center; 
      width:70%;
      margin-left:10%;

    }
}

